</div>
 <!-- Footer -->
<div class="footer-padding"></div>

  <footer class="footer">
     
      <div class="footer-top">
          <div class="footer-logo">
              <h2>XINKAI GE</h2>
              
          </div>
          <div class="footer-links">
              <ul>
                  <li><a href="/">Home</a></li>
                  <!-- <li><a href="#">About</a></li>
                  <li><a href="#">Work</a></li> -->
              </ul>
              <ul>
                  <li><a href="/work">Work</a></li>
                  <li><a href="/game">Game</a></li>
                  <li><a href="/ani">Animation</a></li>
                  <li><a href="/code">Coding</a></li>
              </ul>
              <ul>
                  <li><a href="/about">About</a></li>
                  <!-- <li><a href="#">Change Log</a></li>
                  <li><a href="#">Licensing</a></li>
                  <li><a href="#">Instructions</a></li> -->
              </ul>
              <ul>
                  <li><a href="/contact">Contact Me</a></li>
                  <li><a href="https://instagram.com/_kai_gx" target="_blank">Instagram</a></li>
                  <li><a href="https://wa.me/0871528948" target="_blank">Whatsapp</a></li>
                  <li><a href="https://github.com/kkk123qwe" target="_blank">Github</a></li>
              </ul>
          </div>
      </div>
      
  </footer>
 

